body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: pink;
}

.site-title {
    color: white;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

.hobbies {
    list-style: square;
}

.hobbies li:nth-child(odd) {
    background-color: lightskyblue;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    text-decoration: none;
    background-color: lightskyblue;
    border: 2px solid white;
}

.navigation ul li a:hover {
    background-color: deeppink;
}

.navigation ul li a:focus {
    background-color: black;
}